body {
	background: black;
	margin:0px;
	padding:0px;
}
.p {
	margin:0px;
	padding:0px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	line-height: inherit;
	vertical-align: top;
}
p {
	padding-top:0px;
	margin-top:0px;
}
img {
	border:0px;
}
div {
	margin:0px;
	padding:0px
}
.AbsWrap {
	width: 100%;
	position: relative;
}
.rowWrap {
	width: 100%;
}
.clearfloat {
	clear:both;
	height:0px;
}
a:link, a:visited{
	COLOR:#000000;
	text-decoration:inherit;
}
#main {
	margin: 0 auto;
	width:1003px;
	border: 0px solid #f0f0f0;

}
#logo {
	margin-left:0px;
	margin-top:0px;
	width:312px;
	height:124px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/logo.jpg);
	overflow:hidden;

}
#tophead {
	margin-left:0px;
	margin-top:0px;
	width:691px;
	height:124px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/tophead.jpg);
	overflow:hidden;

}





.pr-menu {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 30px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;
	font-family:Arial, Helvetica, sans-serif;
}
UL.primary-links {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 10px; 
	MARGIN: 0px 0px 0px 65px; 
	PADDING-TOP: 0px; 
	LIST-STYLE-TYPE: none; 
	TEXT-ALIGN: center;
}
UL.primary-links LI {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	BACKGROUND: none transparent scroll repeat 0% 0%; 
	FLOAT: left;
	PADDING-BOTTOM: 2px; 
	TEXT-TRANSFORM: none; PADDING-TOP: 0px
}
UL.primary-links LI A {
	PADDING-RIGHT: 25px; 
	DISPLAY: block; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px;
	font-weight:bold;
	text-align:center;	
	BACKGROUND: url(images/buttonbar.jpg) no-repeat right top;
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: none; 
/*	WIDTH: 100px;  */
	COLOR: #C9DEE5; 
	PADDING-TOP: 0px;
	padding-left:16px;
	
	TEXT-DECORATION: none
}
UL.primary-links LI A:visited {
        PADDING-RIGHT: 25px;
        DISPLAY: block;
        PADDING-LEFT: 0px;
        FONT-WEIGHT: normal;
        FONT-SIZE: 12px;
        font-weight:bold;
        text-align:center;
        BACKGROUND: url(images/buttonbar.jpg) no-repeat right top;
        PADDING-BOTTOM: 3px;
        TEXT-TRANSFORM: none;
/*      WIDTH: 100px;  */
        COLOR: #C9DEE5;
        PADDING-TOP: 0px;
        padding-left:16px;

        TEXT-DECORATION: none
}

UL.primary-links LI A:hover {
	COLOR: #ffffff; 
	TEXT-DECORATION: underline;
	BACKGROUND: url(images/buttonbar_hover.jpg) no-repeat right top;	
}
UL.primary-links LI.last A {
/*	WIDTH: 100px; */
	text-align:center;
}




.top-menu {
        PADDING-RIGHT: 30px;
        PADDING-LEFT: 15px;
        PADDING-BOTTOM: 0px;
        PADDING-TOP: 50px;
        font-family:Arial, Helvetica, sans-serif;
        text-align:right;
}
UL.top-links {
        PADDING-RIGHT: 0px;
        PADDING-LEFT: 0px;
        PADDING-BOTTOM: 0px;
        MARGIN: 0px;
        PADDING-TOP: 0px;
        LIST-STYLE-TYPE: none;
        TEXT-ALIGN: center
}
UL.top-links LI {
        PADDING-RIGHT: 0px;
        PADDING-LEFT: 0px;
        BACKGROUND: none transparent scroll repeat 0% 0%;
        FLOAT: right;
        PADDING-BOTTOM: 0px;
        TEXT-TRANSFORM: none; PADDING-TOP: 0px
}
UL.top-links LI A {
        PADDING-RIGHT: px;
        DISPLAY: block;
        PADDING-LEFT: 5px;
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        BACKGROUND: url(images/btn-bg.jpg) no-repeat right top;
        PADDING-BOTTOM: 30px;
        TEXT-TRANSFORM: none;
        WIDTH: 100px;
        COLOR: #C9DEE5;
        PADDING-TOP: 7px;
        TEXT-DECORATION: none
}
UL.top-links LI A:visited {
        PADDING-RIGHT: px;
        DISPLAY: block;
        PADDING-LEFT: 5px;
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        BACKGROUND: url(images/btn-bg.jpg) no-repeat right top;
        PADDING-BOTTOM: 30px;
        TEXT-TRANSFORM: none;
        WIDTH: 100px;
        COLOR: #C9DEE5;
        PADDING-TOP: 7px;
        TEXT-DECORATION: none
}

UL.top-links LI A:hover {
        COLOR: #fff;
        TEXT-DECORATION: underline;
}
UL.top-links LI.last A {
        WIDTH: 100px
}




#menu {
	margin-left:0px;
	margin-top:0px;
	width:1003px;
	height:38px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/menu.jpg);
	overflow:hidden;

}



.menu-links {
	FONT: bold 12px Arial, Helvetica, sans-serif; 
	COLOR: #ffffff;
	padding-top:0px;
	padding-right:5px;
	padding-left:33px;
	padding-right:50px;
	TEXT-DECORATION: none; 
	text-align:left;
	}

.menu-links A:visited {
	FONT: bold 12px Arial, Helvetica, sans-serif; 
	COLOR: #ffffff; 
	TEXT-DECORATION: none; 
	vertical-align:right;
	}
.menu-links A:link {
	FONT: bold 12px Arial, Helvetica, sans-serif; 
	COLOR: #C9DEE5; 
	TEXT-DECORATION: none; 
	vertical-align:right;
}
.menu-links A:hover {
	FONT: bold 12px Arial, Helvetica, sans-serif; 
	COLOR: #fff; 
	TEXT-DECORATION: none; 
	vertical-align:right;
	text-decoration:underline;
}






#leftcol {
	margin-left:0px;
	margin-top:0px;
	width:273px;
	height:322px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/leftcol.jpg);
	overflow:hidden;

}

.leftbox-cont{
	padding-left:40px;
	padding-right:20px;
	margin-left:0px;
	margin-right:0px;
	margin-top:14px;
	margin-bottom:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#C9DEE5;
	text-align:justify;


}

.leftbox-cont p{

	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#C9DEE5;
	text-align:justify;


}




#midcol {
	margin-left:0px;
	margin-top:0px;
	width:457px;
	height:322px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/midcol.jpg);
	overflow:hidden;

}
#rightcol {
	margin-left:0px;
	margin-top:0px;
	width:273px;
	height:322px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/rightcol.jpg);
	overflow:hidden;

}



.rightbox-cont{
	padding-left:10px;
	padding-right:40px;
	margin-left:0px;
	margin-right:0px;
	margin-top:14px;
	margin-bottom:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#C9DEE5;
	text-align:justify;


}

.rightbox-cont p{

	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#C9DEE5;
	text-align:justify;


}

.rightbox-cont h3 {
padding-top: 0px;
padding-bottom: 8px;
font-family: Arial, Helvetica, sans-serif;
font-size:14px;
margin: 0 0 0 0;

}


.rightbox-cont A:visited {
	FONT: bold 11px Arial, Helvetica, sans-serif; 
	COLOR: #ffffff; 
	TEXT-DECORATION: none; 
	vertical-align:right;
	}
.rightbox-cont A:link {
	FONT: bold 11px Arial, Helvetica, sans-serif; 
	COLOR: #C9DEE5; 
	TEXT-DECORATION: none; 
	vertical-align:right;
}
.rightbox-cont A:hover {
	FONT: bold 11px Arial, Helvetica, sans-serif; 
	COLOR: #fff; 
	TEXT-DECORATION: none; 
	vertical-align:right;
	text-decoration:underline;
}



#txtbox1 {
	margin-left:0px;
	margin-top:0px;
	width:273px;
	height:50px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/txtbox1.jpg);
	overflow:hidden;

}
#flashtxt {
	margin-left:0px;
	margin-top:0px;
	width:730px;
	height:50px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/flashtxt.jpg);
	overflow:hidden;

}
#footer {
	margin-left:0px;
	margin-top:0px;
	width:1003px;
	height:66px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/footer.jpg);
	overflow:hidden;

}


.box-cont-footer{
	PADDING-RIGHT: 8px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 20px; 
	MARGIN: 0px 4px; 
	PADDING-TOP:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	COLOR: #C9DEE5;
	text-align: center;

}

.box-cont-footer a {
	COLOR: #C9DEE5;
    text-decoration:none;
}

.box-cont-footer a:hover {
    color:#fff;
    text-decoration: underline;
}

